* {
    margin: 0;
}

.samosa, .mac, .oreo {
    padding-top: 30px;
}

html {
    color: #DAE3E5;
    background-color: #0A070E;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

h1 {
    text-align: center;
    font-size: 40px;
    padding-bottom: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px
}

.link, a {
    color: white;
    font-size: 30px;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;

}

ul {
    display: inline-block;
    list-style-type: none;
    text-align: center;
}

.samosa ul {
    padding-left: 495px;
}

.mac ul {
    padding-left: 458px;
}

.oreo ul {
    padding-left: 437px;
}

.description, .ingredients, .steps, .home {
    padding: 30px;
}

.ingredients li {
    margin-bottom: 10px;
}
.steps li {
    margin: 12px
}

.samosa .description {
    background-color: #ca985c;
}

.mac .description {
    background-color: #725740;
}

.oreo .description {
    background-color: #442d28;
}

.samosa .ingredients {
    background-color: #332017;
}

.mac .ingredients {
    background-color: #1f1313;
}

.oreo .ingredients {
    background-color: #482217;
}

.samosa .steps {
    background-color: #2b0b03;
}

.mac .steps {
    background-color: #2e1d17;
}

.oreo .steps {
    background-color: #926658;
}

.samosa .home {
    background-color: #725740;
}

.mac .home {
    background-color: #ca985c;
}