* {
    color: #DAE3E5;
    background-color: #0A070E;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

h1 {
    text-align: center;
    font-size: 40px;
}

.link, a {
    color: blue;
    font-size: 30px;
    text-align: center;
}
